body{
	background-color: #BAA378;
	color: white;
}

#wrap{
	width:1350px;
	height:800px;
	background-color: #6B4423;
	border: solid black 1px;
}

#amountOfGoldenLeaves, #amountOfWood, #amountOfWoodPerSec, #level, #remainingPoints{
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#exp{
	font-size: 20px;
	height: 30px;
	background-color: #3366CC;
}

#expBox{
	border: solid black 1px;
	background-color: #B0B0B0;
	margin-right: 10px;
	margin-left: 10px;

}

#menuBoczne{
	float: left;
	width: 300px;
	height:800px;
	background-image: url("1.png");
	background-color: black;
	margin-right: 2px;


}

#menuBoczne2{
	float: right;
	width: 300px;
	height:800px;
	background-image: url("1.png");
	background-color: black;
	margin-left: 2px;
}

#glownyPanel{
	float:left;
	background-color: #cc9966;
	padding: 3px;
	border:solid black 1px;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 738px;
	height: 564px;
}

#consoleWrap{
	float: left;
}

#consoleButtons{
	background-color: black;
	height: 20px;
	padding-top: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
}

#console{
	background-color: white;
	border: solid black 1px;
	color: black;

	width: 744px;
	height: 198px;

	overflow: auto;
}

#bonusStatistics{

}

#bonusWood, #bonusExp, #bonusItems, #bonusGoldenLeaves{
	display: inline-block;
	position: relative;
	height: 50px;
	width: 50px;
	background-color: black;
	margin-left: 17px;
	margin-top: 20px;
	border: black solid 1px;
}

#bonusWoodLevel, #bonusExpLevel, #bonusItemsLevel, #bonusGoldenLeavesLevel{
	height: 14px;
	position: absolute;
	top: 1px;
   	left: 1px;
	width: 14px;
	font-size: 9px;
	color: white;
	float: right;

}

#popup, #popup2, #popup3, #popup4{
	background-color: gray;
	position:absolute;
	width: 150px;
	margin-top: 50px;
	border: solid black 1px;
	padding: 5px;

}

#peasants, #lumbermen{
	
}


